/*	REST	*/

h1, h2, h3 {
	color: #0071bc;
	border-bottom: solid 1px #0071bc;
	padding-bottom: 5px;
}

tr:first-child > td {
	border-top: none !important;
}

td:not(.thumb-container) {
	color: #0071bc;
	padding: 45px 5px !important;
}

.thumb {
	height: 100px;
}

.input {
	width: 50px;
}