/*	REST	*/

h1, h2, h3, h4, h5, h6 {
	color: #0071bc;
	border-bottom: solid 1px #0071bc;
	padding-bottom: 5px;
}

td:not(.thumb-container) {
	color: #0071bc;
	padding: 45px 5px !important;
}

.thumb {
	height: 100px;
}

.input {
	width: 50px;
}