/*	REST	*/

h1, h2, h3 {
	color: #0071bc;
	border-bottom: solid 1px #0071bc;
	padding-bottom: 5px;
}

tr:first-child > td {
	border-top: none !important;
}

.products-table td {
	border-top: solid 1px #0071bc !important;
}

.products-table td:not(.thumb-container) {
	color: #0071bc;
	padding: 45px 5px !important;
}

.thumb {
	height: 100px;
}

.input {
	width: 50px;
}

.remove, .remove:hover, .remove:focus {
	color: #bc0000;
}

.order-button, .order-button:hover, .order-button:focus {
	color: #f7931e;
	margin-right: 20px;
	border: solid 1px #f7931e;
	padding: 10px 40px;
	font-size: 15px;
	border-radius: 5px;
	text-decoration: none;
}

.total {
	color: #f7931e;
}

.page-overlay form {
	width: 500px;
	max-width: 100%;
}

.invoice-table {
	color: #9b9b9b;
}

.invoice-table td {
	border-color: #9b9b9b !important;
}

.invoice-table td:last-child {
	text-align: right;
}

.invoice-table input, .invoice-table select {
	background: none;
	border: none;
	outline: none;
	text-align: right;
}

.invoice-table input {
	width: 100%;
}

.send-button {
	background: none;
	border: none;
	outline: none;
	color: #f7931e;
}


/* MEDIA QUERIES */

@media(max-width: 767px) {
	.invoice-table td {
		display: block;
	}

	.invoice-table td:last-child {
		border: none;
	}
}