html, body {
	height: 100%;
}

/*	GENERAL MARKUP WITH STICKY FOOTER	*/

.wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	position: relative;
	z-index: 50;
}

.content {
	padding-top: 20px;
	padding-bottom: 140px;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: solid 70px #757575;
	background: #424242;
	color: #757575;
	padding: 10px 0;
}

/*	GENERAL	*/

.header-top {
	padding: 5px 60px;
	color: white;
	background: #464646;
	font-size: 12px;
}

.header-top .fa {
	font-size: 20px;
}

.header-top .bpg-excelsior-caps {
	display: inline-block;
	margin: 0 5px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

.header-main {
	padding: 10px 60px;
	background: rgba(0, 0, 0, 0.6);
}

.first-row {
	color: #f7931e;
}

.first-row .fa {
	margin: 0 5px;
}

.langs {
	color: #a1a1a1;
	margin-left: 10px;
}

.langs > a {
	padding: 3px;
}

.langs > .active {
	border: solid 1px #a1a1a1;
	border-radius: 3px;
}

.navigation {
	list-style: none;
	padding: 10px 0;
	margin: 0;
}

.navigation > li {
	padding: 5px;
}

.navigation > li:last-child {
	padding-right: 0;
}

.navigation a {
	color: #c2c2c2;
	text-decoration: none;
	padding: 5px 0;
}

.navigation a.active, .navigation a:hover {
	border-bottom: solid 2px #c2c2c2;
}

.search-button {
	background: #f7931e;
}

.search-button:hover {
	background: #e1871d;
}

/*	HELPERS	*/

.unstyled {
	color: inherit !important;
	text-decoration: none !important;
}


/*	MEDIA QUERIES	*/

@media (min-width: 768px) {
	.first-row {
		text-align: right;
	}

	.second-row {
		text-align: right;
	}

	.navigation > li {
		display: inline-block;
	}

	.logo {
		float: left;
	}

	.third-row {
		margin-left: 150px;
	}
}