html, body {
	height: 100%;
}

img {
	max-width: 100%;
}


/*	GENERAL MARKUP WITH STICKY FOOTER	*/

.wrapper {
	min-height: 100%;
	position: relative;
}

.header {
	position: relative;
	z-index: 50;
	text-align: center;
}

.content {
	padding-top: 20px;
	padding-bottom: 140px;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: solid 70px #757575;
	background: #424242;
	color: #757575;
	padding: 10px 0;
}


/*	HELPERS	*/

.unstyled {
	color: inherit !important;
	text-decoration: none !important;
}

.white {
	color: white;
}

.orange {
	color: #c97b23 !important;
}


/*	GENERAL	*/

.header-top {
	padding: 5px 60px;
	background: #464646;
	font-size: 12px;
}

.header-top .fa {
	font-size: 20px;
}

.header-top .bpg-excelsior-caps {
	display: inline-block;
	margin: 0 5px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

.header-main {
	padding: 10px 60px;
	background-color: rgba(0, 0, 0, 0.6);
}

.header-main.with-background {
	background-image: url('../img/header_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.first-row {
	margin-top: 10px;
	color: #f7931e;
}

.first-row .fa {
	margin: 0 5px;
}

.langs {
	color: #a1a1a1;
	margin: 10px;
}

.langs > a {
	padding: 3px;
}

.langs > .active {
	border: solid 1px #a1a1a1;
	border-radius: 3px;
}

.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation > li {
	padding: 5px;
}

.navigation > li:last-child {
	padding-right: 0;
}

.navigation a {
	color: #c2c2c2;
	text-decoration: none;
	padding: 5px 0;
}

.navigation a.active, .navigation a:hover {
	border-bottom: solid 2px #c2c2c2;
}

.search-button {
	background: #f7931e;
}

.search-button:hover {
	background: #e1871d;
}

.sidebar-categories {
	list-style: none;
	padding: 0;
}

.sidebar-category {
	border-top: solid 1px #ccc;
	color: #aaa;
	padding: 5px 0;
}

.sidebar-category > .fa {
	transition: all .2s;
	cursor: pointer;
}

.sidebar-category > .fa.open {
	transform: rotate(180deg);
}

.sidebar-category > ul {
	list-style: none;
	display: none;
}

.sidebar .active {
	color: #f7931e !important;
}

.login-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}

.login-overlay > .close-button {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 20px;
	cursor: pointer;
}

#login-form {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	transform: translate(-50%, -50%);
}

#login-form > div {
	position: relative;
}

#login-form .input {
	width: 100%;
	margin: 5px 0;
	padding: 5px 5px 5px 35px;
	background: transparent;
	border: none;
	border-bottom: solid 1px #8d8d8d;
}

#login-form .fa {
	position: absolute;
	left: 8px;
	top: 12px;
	font-size: 15px;
}

#login-form .submit-button {
	border: none;
	background: transparent;
	margin: 5px 0;
	font-size: 18px;
}


/*	MEDIA QUERIES	*/

@media (min-width: 768px) {

	.first-row {
		text-align: right;
		margin-top: 0;
	}

	.langs {
		display: inline-block;
		margin: 0 0 0 10px;
	}

	.second-row {
		text-align: right;
	}

	.navigation {
		padding: 10px 0;
	}

	.navigation > li {
		display: inline-block;
	}

	.logo {
		float: left;
	}

	.third-row {
		margin-left: 150px;
	}
}