/*	SLIDER	*/

.unslider {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
}

.slide {
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*	HEADER SHOULD BE ABOVE SLIDER	*/

.header-top, .header-main {
	position: relative;
	z-index: 100;
}


/*	CATEGORIES GRID	*/

.grid {
	height: 150px;
}

.grid-item {
	width: 48%;
	height: 100px;
	padding: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.grid-item > a > .overlay {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 40px;
	background: rgba(0, 113, 188, 0.6);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.grid-item .fa {
	font-size: 30px;
}

.grid-item:hover > a > .overlay {
	visibility: visible;
	opacity: 1;
}


/*	REST	*/

h1, h2, h3, h4, h5, h6 {
	color: #f7931e;
	border-bottom: solid 1px #f7931e;
	padding-bottom: 5px;
}

.brand {
	margin: 20px;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.news {
	background: #f7931e;
	border-radius: 10px;
	height: 300px;
	overflow: hidden;
}

.news > .image-container {
	height: 150px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.news > .title {
	padding: 10px;
}

.news > .description {
	padding: 10px;
}


/*	MEDIA QUERIES	*/

@media (min-width: 768px) {

	.header {
		height: 400px;
	}

	.grid-item {
		width: 25%;
		height: 150px;
	}

	.grid-item.wide {
		width: 28%;
	}

	.grid-item.narrow {
		width: 17%;
	}

	.grid-item.double-height {
		height: 305px;
	}

	.grid-item.double-height > a > .overlay {
		padding-top: 120px;
	}

	.grid-item > .overlay {
		padding-top: 30px;
		font-size: 18px;
	}

	.grid-item .fa {
		font-size: 50px;
	}

	.brand {
		height: 150px;
	}
}