/*	SLIDER	*/

.unslider {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
}

.slide {
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*	OVERRIDE HEADER HEIGHT	*/

.header {
	height: 400px;
}


/*	HEADER SHOULD BE ABOVE SLIDER	*/

.header-top, .header-main {
	position: relative;
	z-index: 100;
}


/*	CATEGORIES GRID	*/

.grid {
	height: 150px;
}

.grid-item {
	width: 25%;
	height: 150px;
	background: red;
	border: solid black 1px;
}

.grid-item.wide {
	width: 28%;
}

.grid-item.narrow {
	width: 17%;
}

.grid-item.double-height {
	height: 305px;
}