/* REST */

h1, h2, h3, h4, h5, h6 {
	color: #f7931e;
	border-bottom: solid 1px #f7931e;
	padding-bottom: 5px;
}

.thumb {
	max-height: 200px;
	margin: 10px 0;
}

.news {
	box-shadow: 0 2px 2px #eee;
	margin: 10px;
}