/*	REST	*/

h1, h2, h3, h4, h5, h6 {
	color: #f7931e;
	padding-bottom: 5px;
}

.thumb {
	width: 33.33%;
	float: left;
}

.price {
	color: #80b8de;
}

.description-header {
	margin-top: 30px;
	border-bottom: solid 1px #d7d7d7;
	padding-bottom: 10px;
}

.add-to-cart {
	margin-top: 30px;
	color: #f7931e !important;
	border-color: #f7931e !important;
}
