.product {
	position: relative;
	margin: 15px 0;
	position: relative;
	border-radius: 10px;
}

.product > .overlay {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 70px 40px;
	background: rgba(247, 147, 30, 0.8);
	border-radius: 10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.product:hover > .overlay {
	visibility: visible;
	opacity: 1;
}

.product > .overlay > a {
	font-size: 25px;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 10px 0;
	float: left;
	text-align: center;
	box-sizing: border-box;
}

.product > .overlay > a:first-child {
	border-right: solid 1px white;
}

.product > .overlay > a:last-child {
	border-left: solid 1px white;
}

.product > .image-container {
	height: 150px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.product > .name {
	position: relative;
	padding: 15px;
	background: #f5f5f5;
	color: #565656;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.name > .price {
	position: absolute;
	top: 0;
	left: 0;
	width: 33%;
	height: 100%;
	padding: 15px 5px;
	background: #f7931e;
	border-bottom-left-radius: 10px;
}