/*	REST	*/

h1, h2, h3, h4, h5, h6 {
	color: #f7931e;
	border-bottom: solid 1px #f7931e;
	padding-bottom: 5px;
}

.brand-label {
	font-weight: normal;
}

.price-container {
	width: 50%;
	float: left;
	padding: 5px;
}

.price-container > input {
	width: 100%;
	background: #eee;
	border-radius: 10px;
	border: none;
	padding: 5px;
	outline: none;
}