.profile-navigation {
	list-style: none;
	padding: 0;
}

.profile-navigation a {
	display: inline-block;
	margin: 5px 0;
}

li.active {
	color: #f7931e;
}

.order {
	border-top: solid 1px #ccc;
	padding-top: 5px;
}